/* TodoList.module.css */
.container {
    max-width: 240px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0 25px;
    /* Espaço lateral */
    padding-bottom: 60px;
    /* Espaço para o botão "+" */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.header h3 {
    font-size: 0.75rem;
    margin:0;
    margin-top: 5px;
}

.addButtonContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.inputContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.taskList {
    list-style: none;
    padding: 0;
}

.taskText {
    /* word-wrap: break-word; */
}

.taskText:hover {
    cursor: pointer
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.categoryIconCas{
    font-size: 5px; 
    margin-right: 4px; 
    margin-top:4px;
  color: rgb(234, 128, 202); 
}
.categoryIconFin{
    font-size: 5px; 
    /* margin-right: 8px;  */
    margin-right: 4px; 
    color: #ffbb00; 
    margin-top:4px;
}
.categoryIconTra{
    /* position: absolute; */
    /* padding-top:100px; */
    margin-right: 4px; 
    margin-top:4px;
}
.categoryIconLis{
    margin-right: 4px; 
    color: rgb(151, 151, 151);
    margin-top:3px;
}


.taskDescription {
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
    /* gap: 50px; */
    width: 100%;
    margin-left: 6px;
    max-width: calc(100%);
    margin-top: -17px;
    margin-bottom: 11px;
    font-size: 13.5px;
    color:#575767;
    /* font-weight: 4005; */

}

.categorySubtitle {
    font-size: 11px;
    opacity: 0.6;
}

.checkColumn {
    /* display:flex; */
    /* position: relative; */
    /* flex-direction: row; */
    max-width: calc(100%);
    width: 100%;
    word-wrap: break-word;


}

.taskStatus {
    display: flex;
    gap: 3px;
    justify-content: center;
}
.taskCategory {
    font-weight: bold;
    margin-right: 10px;
}

.categoryTab {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    position: relative;
}

.categoryPopup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

.categoryItem {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.categoryItem:hover {
    background-color: #f4f4f4;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
    gap: 10px;
}

.deleteButton {
    background-color: #515CC6;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.cancelButtonModal {
    background-color: #515CC6;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 15px;
    margin-left: -15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.cancelButtonModal:hover {
    opacity: 0.8;
}

.cancelButton,
.addButton {
    background: linear-gradient(180deg, #3F4EA0 0%, #473FA0 100%),
        linear-gradient(0deg, #515CC6, #515CC6);
    color: #fff;
    border: none;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 360px;
}

.cancelButton:hover,
.addButton:hover {
    opacity: 0.8;
}

.checkboxContainer {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

.checkbox {
    /* display: grid; */
    /* justify-content: left; */
    position: absolute;
    margin-left: -26px;
    width: 17.5px;
    height: 17.5px;
    margin-top: 1px;
    opacity: 0.5;
}

.taskTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.taskStatusItem{
    color: #575767;
}

.completedTask {
    opacity: 0.4;
    /* Defina a opacidade desejada, por exemplo 0.6 para 60% */
}
.sectionTitle{
    color: #575767;
    margin-left: -10px;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Opacidade do fundo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Opacidade de 50% */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskCompleted {
    opacity: 0.4;
    /* Defina o nível de opacidade desejado */
}